div.stars {
    width: 270px;
    display: inline-block
}

input.star {
    display: none
}

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: gray;
    transition: all .2s
}

input.star:checked~label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s
}

input.star-5:checked~label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952
}

input.star-1:checked~label.star:before {
    color: #F62
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3)
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome
}

.edited {
    color: white;
    background: rgb(155, 151, 151);
}

.linkedited {
    color: rgb(88, 88, 255);
}

.linkedited:hover {
    color: rgb(88, 88, 255);
}

.new {
    background: white;
    border-radius: 0px;
}